* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-color: rgba(0, 0, 255, 0.775);
    color: #fff;
    height: 100vh;
}

.greeting_weather {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.greeting {
    background-color: blueviolet;
    width: 65vw;
    justify-content: center;
    align-items: center;
    margin: auto 5rem;
}

.weather {
    background-color: chartreuse;
    width: 35vw;
}

.saying {
    background-color: crimson;
    width: 100vw;
    height: 20vh;
}